# VPN Server details
VPN_IP=YOUR_SERVER_IP_HERE
VPN_PORT=443
VPN_USER_ID=00000000-0000-0000-0000-000000000000

# Reality settings
VPN_SERVER_NAME=your_server.com
VPN_PUBLIC_KEY=YOUR_PUBLIC_KEY_HERE
VPN_SHORT_ID=1234567890abcdef
